{
  "type": "postgres",
  "host": "",
  "port": ,
  "username": "",
  "password": "",
  "database": "authentication-service",
  "synchronize": false,
  "logging": true,
  "entities": [
    "src/Models/Mappings/*.ts"
  ],
  "migrationsTableName": "changelog",
  "migrations": ["migration/*.ts"],
  "cli": {
    "migrationsDir": "migration"
  }
}
